/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    justify-items: center;
    
  }
  
  /* Project Card */
  .project-card {
    /* background: rgba(17, 34, 64, 0.7);
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 400px;
    width: 100%; */
  
      background: rgba(17, 34, 64, 0.7);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 2rem;
      transition: transform 0.3s, box-shadow 0.3s;
      max-width: 400px;
    width: 100%; 
    text-align: center;
  
  }
  
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 255, 136, 0.1);
  }
  
  /* Project Image */
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  /* Project Title */
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  
  /* Project Year */
  .year {
    font-size: 1rem;
    color: var(--light);
    opacity: 0.8;
    margin-bottom: 1rem;
  }
  
  /* Project Tags */
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .tag {
    /* background: var(--primary);
    color: var(--dark);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold; */
  
    background: var(--dark);
    color: var(--primary);
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.8rem;
  }
  
  /* Project Description */
  .description {
    font-size: 0.9rem;
    color: var(--light);
    margin-top: 1rem;
    text-align: left;
  }
  
  /* Buttons (GitHub, Download) */
  .source-link, .download {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: var(--primary);
    color: var(--dark);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    margin: 0.5rem;
  }
  
  .material-icons {
    vertical-align: middle !important;
    font-size: 1rem;
  }
  
  .source-link:hover, .download:hover {
    transform: translateY(-3px);
  }
  